footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

.form-control {
    margin-bottom: 5px;
    width: 100%;
    min-width: 150px;
}

label.form-control{
    margin: 0;
    cursor: pointer;
}

.alert {
   margin-top: 20px; 
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#main_content {
    max-height: 70vh;
    overflow: auto;
}

table.content td, table.content th {
    border: 1px solid #dddddd;
    padding: 5px;
    text-align: left;
    min-width: 100px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

div .scroll{
    overflow: auto;
}

div .list-group-item a{
    color: black;
}

div .tablelist.active a{
    color: white;
}

.glyphicon-remove {
    color:red;
}

.btn-danger .glyphicon-remove{
    color: white;
}

.tableadd span{
    color: green;
}

.rowupdate{
    color: blue;
}

.rowadd span{
    color: blue;
}

.rowimport span{
    color: #3498db;
}

.core-control {
    margin-left: 10px;
}

.core-control:hover {
    transform: scale(2);
    transition: 0.25s;
}

.glyphicon-refresh, .glyphicon-refresh:hover {
    animation:spin 1.5s linear infinite;
}

.glyphicon-ok {
    animation: fadein 1s ease-in;
}

.dbl_click_fk {
    text-decoration: underline wavy blue;
    color: blue;
    cursor: pointer;
    
}

.dbl_click_file, a.file, a.file:hover, a.file:focus{
    text-decoration: underline dotted red;
    color: red;
    cursor: pointer;
    min-width: 25px;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  border-bottom: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
  opacity: 1;
}

ul.nav.nav-tabs li.active a{
    background-color: #5cce80;
}
ul.nav.nav-tabs li:not(.active) a:hover{
    background-color: #459b61;
}

@font-face {
    font-family: "Cambria Math";
    src: url(../fonts/Cambria_Math.ttf);
}

@font-face {
    font-family: "Times New Roman";
    src: url(../fonts/Times_New_Roman.ttf);
}
@font-face {
    font-family: "Helvetica";
    src: url(../fonts/Helvetica-Regular.ttf);
}
@font-face {
    font-family: "Arial";
    src: url(../fonts/arial.ttf);
}
img{
    max-width: 100%;
    max-height: 100%;
}

.search-group{
    margin-top: 5px;
}

.card {
    margin: 5px;
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.3);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.5);
}

/* Add some padding inside the card container */
.card-container {
    padding: 2px 16px;
}

.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-warning {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-danger {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-info {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-primary {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

span.glyphicon.glyphicon-list-alt{
    padding: 5px;
}

@media (max-width: 768px) { 
    .file-field{
        padding-left: 15px;
        padding-right: 15px;
    }
}
.file-field{
    margin-bottom: 5px !important;
}