.modal-backdrop.show{
    display: none;
}
.note-editor.note-frame.fullscreen{
    width: calc(100% - 6.5rem) !important;
    left: 6.5rem;
}

@media screen and (max-width: 768px) {
    .note-editor.note-frame.fullscreen{
        width: 100% !important;
        left: 0%;
    }
}