@import "variables.scss";

// Import Bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

// Import Custom SB Admin 2 Mixins and Components
@import "utilities.scss";

// Custom Components
@import "navs.scss";
@import "buttons.scss";
@import "cards.scss";
@import "login.scss";
@import "error.scss";

// Global component styles

html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    height: 100%;
  }
  
  a {
    &:focus {
      outline: none;
    }
  }
  
  // Main page wrapper
  #wrapper {
    display: flex;
    #content-wrapper {
      background-color: $gray-100;
      width: 100%;
      overflow-x: hidden;
      #content {
        flex: 1 0 auto;
      }
    }
  }
  
  // Set container padding to match gutter width instead of default 15px
  .container,
  .container-fluid {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }
  
  // Scroll to top button
  .scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: $white;
    background: fade-out($gray-800, .5);
    line-height: 46px;
    &:focus,
    &:hover {
      color: white;
    }
    &:hover {
      background: $gray-800;
    }
    i {
      font-weight: 800;
    }
  }
  

.navbar-brand {
    background: url('../../../assets/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 60px;
    width: 150px;
    margin-top: 5px;
}

/* Scrollbar customization */

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px #36b9cc;
    box-shadow: inset 0 0 5px #36b9cc;
}

::-webkit-scrollbar-thumb {
    background-color: #4e73df;
    ;
    outline: 1px solid #4e73df;
}

* {
    scrollbar-color: #4e73df #36b9cc;
    ;
    scrollbar-width: thin;
}

/* Scrollbar customization end */

.table_wrapper {
    overflow: auto;
}

th {
    white-space: nowrap;
}

.core-control:hover {
    transform: scale(1.25);
    transition: 0.25s;
    cursor: pointer;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    border-bottom: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spinner-border 2s linear infinite;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
    opacity: 1;
}

.form-control.has-error {
    box-shadow: 0 0 0 0.2rem rgba(255, 96, 4, 0.6)
}

.note-editor.note-airframe, .note-editor.note-frame {
    border: none;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.11);
}

.move_icon{
    cursor: move;
}