.table-responsive{
    max-height: 80vh;
}
.table-responsive{
    scrollbar-color: var(--bs-info) var(--bs-light);
    scrollbar-width: auto;
}
.table-responsive:hover{
    scrollbar-color: var(--bs-active-info) var(--bs-light);
}
.table-responsive thead{
    position: sticky;
    top: 0;
}
.table-responsive::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.table-responsive::-webkit-scrollbar-thumb {
    background-color: var(--bs-info);
}
.table-responsive:hover::-webkit-scrollbar-thumb{
    background-color: var(--bs-active-info);
}