{% extends "page.twig" %}

{% block content %}
	<div class="row">
        <div class="col-md-4">
            {{ controller.side_entity_list }}
        </div>
        <div class="col-md-8">
            <div class="card p-2">
                {{ controller.printMessages() }}
                {{ controller.echoContent()|raw }}
            </div>
        </div>
	</div>
{% endblock %}
