{% extends "page.twig" %}

{% block content %}
	{{ controller.printMessages() }}
	<div class="row">
		{% for card in controller.cards %}
			{{ card }}
		{% endfor %}
		{{ controller.echoContent()|raw }}
	</div>
{% endblock %}
